
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');
body{
margin: 0px;
padding: 0px;
box-sizing: border-box;
background-color:#48033f;
}
.botao , #btn-entrarAdm , #btn-entrarFun{
height: 60px;
margin-top: 0%;
font-size: 31px;
cursor: pointer;
color: #e7b705;
border: 0px;
display: flex;
align-items: center;
justify-content:space-around;
font-family: "Playpen Sans", cursive;
font-weight: 200;
background-color: #48033f;
margin-right: 60px;
gap: 10px;
}
#btn-entrar:hover{
color:#a53095; 
}
header{  
width: 100%;
height: 160px;
display: flex;
align-items: center;
justify-content: space-between;
background-color:#48033f;
}
#logotipo{   
width: 160px;
height: 140px;
display: flex;
align-items: center;
justify-content: space-between;
margin-left: 100px;
border-radius: 60% 60% 60% 60% ;
}
input{
width:500px;
height:50px;
border-radius: 10px;
font-size: 25px;
font-family: "Nunito Sans", sans-serif;
font-style: italic;
border: solid 2px;
border-color:#48033f;
background-color: rgba(255, 255, 255, 0.872);
}
#carrosel{
width:1900px;
height:800px;
margin-top:  0px;
}
.img-carrossel{
width:1900px;
height:800px;
margin-left: 0.4px;
}
#post-it{
width: 550px;
height: 550px;
margin-left: 5px;
}

.cards{
width: 100%;
height: 200px;
display: flex;
justify-content: center;
align-items: center;
gap: 100px;
margin-top: 20px;
font-family:  "Playpen Sans", cursive;
font-weight: 200;
}
.mensagem{
width: 350px;
height: 200px;
}
#coração{
width: 15px;
height: 15px;
margin-top: 80px;
margin-left: 15px;
}
.texto{
margin-left: 50px;
color: #e7b705;
font-size: 19px;
margin-top: -65px
}
h1{
font-size: 20px;
}
.imgs{
display: flex;
align-items: center;
gap: 60px;
margin-left: 50px;
margin-top: 50px;
}
#img-diasorvete{
    width: 550px;
    height: 550px;
    margin-left: 5px;  
    
}

#sorvete{

    width: 550px;
    height: 550px;
    margin-left: 5px;    
  
}



@media (max-width: 900px ) {

body{
margin: 0px;
padding: 0px;
box-sizing: border-box;
background-color:#48033f; 
}

header{
    width: 100%;
    height: 150px;
     
    }

#logotipo{
    width: 150px;
    height: 150px;
    margin-left: -5px;
}



#btn-entrarAdm , #btn-entrarFun{
font-size: 25px;
margin-right: 110px;


}

#post-it{
width: 400px;
height: 100px;
margin-top: 100px;
margin-left: 5%;    
}

#coração{
width: 12px;
height: 12px;
margin-top: 60px;
margin-left: 2px;

}

.texto{
width: 100px;
margin-left: 30px;
color: #e7b705;
font-size: 10px;
 

}

h1{
font-size: 15px;
}

.cards{
    width: 800px;
height: 230px;
display: flex;
justify-content: center;
align-items: center;
gap: 0px;
margin-top: 5px;
font-family:  "Playpen Sans", cursive;
font-weight: 200;
margin-left: 60px;


}

#post-it{
    width: 250px;
    height: 250px; 
align-items: center;
margin-top: -90px;
margin-left: -40px;
}

video{
    width: 250px;
    height: 250px;         
margin-left: 4px;
margin-top: -90px;
}


#img-diasorvete{
    width: 250px;
    height: 250px;          
    margin-top: -90px;
    margin-left: 5px;  
    
}


.imgs{
    
    align-items: center;
    gap: 50px;
    margin-left: 60px;
    margin-top: 10px;
    }




#carrosel{
width:100%;
height:350px;
margin-top:  0px;   
           
}

.img-carrossel{
width:980px;
height:350px;
margin-left: 0.4px;
  
}

#sorvete{

    width: 250px;
    height: 250px;      
    margin-top: -100px;

}


}