
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pompiere&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');





body{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
 background-color: hwb(0 94% 6%);
  
}


/*card, borão*/

.card{
    
    width: 700px;
    height: 500px;
    font-size: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 0px auto;
    margin-top: 3%;
    border-radius: 20px;
    border: solid 3px;
    border-color:#48033f;
    
}


    #btn-cadastrar{
        width: 250px;
        height: 60px;
        margin-top: 0%;
        background-color:#48033f;
        font-size: 25px;
        cursor: pointer;
        color: #e7b705;
        border: 0px;
        display: flex;
        align-items: center;
        justify-content:space-between;
        font-family:"Nunito Sans", sans-serif;
        font-style: italic;
        margin-left: 900px;
        
    
    }
    #btn-cadastrar:hover{
        color:rgba(197, 155, 135, 0.889); 
    }
    
    #link-btnCadastrar{
        list-style: none;
        text-decoration: none;
    }

    #btn-ajuda{
        width: 250px;
        height: 60px;
        margin-top: 0%;
        background-color: rgba(240, 248, 255, 0.797);
        font-size: 25px;
        cursor: pointer;
        color: #e7b705;
        border: 0px;
        display: flex;
        align-items: center;
        justify-content:space-between;
        font-family:"Nunito Sans", sans-serif;
        font-style: italic;
        background-color:#48033f;
        
     
       
    }
    #btn-ajuda:hover{
    
        color:rgba(197, 155, 135, 0.889); 
    }
    


#btn-acessar{
        width: 200px;
        height: 60px;
        margin-top: 2%;
        background-color: rgba(240, 248, 255, 0.797);
        font-size: 30px;
        font-style: italic;
        cursor: pointer;
        color:#48033f;
        border: 0px;
        font-family:  "Nunito Sans", sans-serif;
       
}
#btn-acessar:hover{

    color:#a50f91;
}






/*textos*/


.texto-login{
    margin-top:70px;
    margin-bottom: 50px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 45px;
    font-style: italic;
    color: #48033f;
    text-align: center;

}



/*outros*/


header{  /*cabeçalho*/

width: 100%;
height: 150px;
display: flex;
align-items: center;
justify-content: space-between;
background-color:#48033f;
}



img{   /*logotipo*/
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;

}







/*estão errados mas deram certo*/

#login{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    font-size: 25px;
    font-family: "Nunito Sans", sans-serif;
    font-style: italic;
    border: solid 2px;
    border-color:#48033f;
    background-color: rgba(255, 255, 255, 0.872);
    margin-top: 20%;
}



input{


    width: 500px;
    height: 50px;
    border-radius: 10px;
    font-size: 25px;
    font-family: "Nunito Sans", sans-serif;
    font-style: italic;
    border: solid 2px;
    border-color:#48033f;
    background-color: rgba(255, 255, 255, 0.872);
 
}













/*responsividade*/


@media(max-width: 500px){

  
    .card{
    width: 500px;
    height: 400px;
    font-size: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 0px auto;
    margin-top: 10%;
    border-radius: 20px;
    background-color: #8b4513;
    
        }
    
    }
    