@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');
/*MODAL INTEIRO*/
#modalAjuda{ 
background-color: #5c1d53;
width: 700px;
height: 400px;
border-radius: 20px;
}
#modalAjuda::backdrop{
background-color: rgba(31, 30, 30, 0.699);
}
/*textos*/
.textos{ 
width: 600px; 
color: #e7b705;
text-align: center;
margin-top: 10px;
margin-left: 45px;
font-family: "Playpen Sans", cursive;
font-size: 22px;
font-weight: 200;
}
/*Buttons*/
#btn-FecharModalAjuda{
background-color: #5c1d53;
color: aliceblue;
border: 0px;
font-size: 25px;
font-family: "Playpen Sans", cursive;
color: #e7b705;

}

#btn-FecharModalAjuda:hover{
color: #a50f91;
}

#btn-EnviarMansagem{ 
background-color: #5c1d53;
color: aliceblue;
border: 0px;
font-size: 25px;
margin-left: 43%;
font-family: "Playpen Sans", cursive;
color: #e7b705;
margin-top: 10px;
}

#btn-EnviarMansagem:hover{
color:#a50f91;
}

#CabMensagem{
margin-left: 15%;
margin-top: 10px;
font-size: 20px;
border-radius: 5px;
font-family: "Playpen Sans", cursive;
}

#inputs{
display: flex;
gap: 50px;
margin-left: 100px;
margin-top: 50px;
gap: 30px;
}
  
.inpts{
width: 200px;
height: 30px;
font-family: "Playpen Sans", cursive;
font-size:20px ;
border-radius: 5px;
margin-left: -px;
}