@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pompiere&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* MODAL INTEIRO */
dialog{
   
      width: 700px;
      height: 410px;
      padding: 35px;
      border-radius: 0.6rem;
      box-shadow: 0 0 1em hwb(0 94% 6% / 0.842);
      margin-right: 250px;
      text-align: center;
      background-color:#48033f;
      color:  hwb(0 94% 6% / 0.842);
      margin-bottom:450px;
      font-family:"Nunito Sans", sans-serif;
      font-style: italic;
      margin-top: 145px;
}

/* SOMBRA EM VOLTA DO MODAL */
dialog::backdrop {
   
    background-color: rgba(0, 0, 0, 0.438);
  }

  /* ID */
#btn-comentario{

    margin-right: 20px;
    width: 500px;
    height: 170px;
    font-size: 22px;
}
#fechar{
    /* margin: 0px;
    margin-right: 510px; */
    padding: 0px;
    border: 0px;
    background-color:#48033f;
    color:  hwb(0 94% 6% / 0.842);
    font-size: 22px;
    width: 100px;

}
#fechar:hover{
    color:#a50f91;
}
#mensagem2{

    font-size: 30px;
    
}
#mensagem1{

    font-size: 35px;
}
#enviar{
    margin: 0px;
    /* margin-left: 510px; */
    /* margin-bottom: 100px; */
    padding: 0px;
    border: 0px;
    background-color: #48033f;
    color:  hwb(0 94% 6% / 0.842);
    font-size: 22px;
  
}
#enviar:hover{
    color:#a50f91;
}

.btn-fechar-ajuda{
    display: flex;
    justify-content: space-between;
}