#modalDelete{
    width: 800px;
    height: 320px;
    background-color: #48033f;
 }   
#t-1{
    
    margin-left: 10%;
    color: #e7b705;
}
#t-2{
    
    margin-left: 15%;
    color: #e7b705;
}
#FecharModal{
    color: #e7b705;
    background-color: #46053d;
    border: 0px;
}

#inp-email1{
    width: 550px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 25px;
    margin-left: 15%;
    margin-top: 50px;
    border-radius: 8px;
}
#btn-deletar{
    width: 140px;
    height: 30px;
    background-color:  #48033f;
    font-size: 24px;
    cursor: pointer;
    color: #e7b705;
    border: 0px;
    align-items: center;
    font-family:"Nunito Sans", sans-serif;
    font-style: italic;
    margin-top: 40px;
    margin-left: 40%;

}

